<div class="jumbotron">
    <h1 class="display-3">Jumbo heading</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/about" role="button">About</a>
    </p>
    <div id="container">
        <input type="text" [(ngModel)]="variable">
        <h3>{{variable}}</h3>
        <input type="number" [(ngModel)]="num1">
        <p *ngIf="num1==0">El número 1 es un 0</p>
        <br>
        <ul>
            <li (click)="selUser(usuario)" *ngFor="let usuario of usuarios"> {{usuario.nombre + " " + usuario.apellido}} </li>
        </ul>
        <p *ngIf="usuarioSel!=null">El usuario seleccionado es {{usuarioSel.nombre +" "+ usuarioSel.apellido}}</p>
    </div>
</div>
