.card{
    background-color: #363535;
    color: darkgray;
    font-family: 'Times New Roman', Times, serif;
}
*{
    background-color: #363535;
    color: darkgray;
    font-family: 'Times New Roman', Times, serif;
  }