<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Presentación</div>
      <div class="card-body">
        <div class="input-group">
          <input class="form-control" type="text" [(ngModel)]=nombre placeholder="Tu nombre">
          <input class="form-control" type="text" [(ngModel)]=apellidos placeholder="Tus apellidos">
        </div>
        <button class="btn btn-primary btn-block" (click)="llevame()">Preséntate</button>
      </div>
    </div>

  </div>
</div>

