<form [formGroup]="formLogin" (submit)="submit()">

    <div class="form-row mb-1">
      <div class="form-group col-md-6">
        <label for="email">E-Mail:</label>
        <input class="form-control" type="text" placeholder="E-Mail" id="email" formControlName="email">
      </div>
      <div class="form-group col-md-3">
        <label for="password">Contraseña:</label>
        <input class="form-control" type="text" placeholder="Contraseña" id="password" formControlName="password">
    </div>
    </div>
    <button class="btn btn-primary btn-block" type ="submit" [disabled]="!formLogin.valid">Login</button>
  </form>
