<ul>
    <li *ngFor="let nota of notas" (click)="formNuevo.patchValue(nota)">{{nota.titulo}} : {{nota.contenido}}</li>
</ul>
<div *ngIf='creada' class="alert alert-primary" role="alert">
    <strong>Nota creada correctamente</strong>
</div>
<br>
<h5>Formulario con formGroup</h5>
<form [formGroup]='formNuevo' (ngSubmit)='crearNota(formNuevo.value)'>
    <input class="form-control" type="text" formControlName="titulo" placeholder="Título">
    <input class="form-control" type="text" formControlName="contenido" placeholder="Contenido">
    <button type="submit" *ngIf='!formNuevo.value.id; else editar' [disabled]='formNuevo.invalid'>Crear nota</button>
    <ng-template #editar>
        <button type='button' (click)='eliminarNota()' [disabled]='!formNuevo.value.id'>Eliminar nota</button>
        <button type='button' (click)='editarNota()' [disabled]='formNuevo.invalid'>Editar nota</button>
        <button type='button' (click)='formNuevo.reset()'>Cancelar</button>
    </ng-template>
    </form>
   
<br>
<h5>Formulario con ngModel</h5>
<div class="input-group">
    <input class="form-control" type="text" [(ngModel)]="notaNueva.titulo" placeholder="Título">
    <input class="form-control" type="text" [(ngModel)]="notaNueva.contenido" placeholder="Contenido">
    <button  class="btn btn-primary btn-block" (click)="crearNota(notaNueva)">Insertar nota</button>
</div>
<div class="input-group">
    <input (input)='buscarConRetraso()' class="form-control" type="text" [(ngModel)]="busqueda" placeholder="Buscar...">
   
</div>