<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Título</th>
            <th>Contenido</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let nota of notas" (click)="notaSeleccionada=nota">
            <td >{{nota.id}}</td>
            <td>{{nota.titulo}}</td>
            <td>{{nota.contenido}}</td>
        </tr>
    </tbody>
</table>
<input type="text" [(ngModel)] ="notaNueva.titulo" placeholder="Título">
<input type="text" [(ngModel)] ="notaNueva.contenido" placeholder="Contenido">
<button (click)="insertarNota()">Insertar nota</button>
<br>
<input type="text" [(ngModel)]="notaSeleccionada.titulo">
<input type="text" [(ngModel)]="notaSeleccionada.contenido">
<button (click)="editarNota(notaSeleccionada)">Editar nota</button>
<button (click)="borrarNota(notaSeleccionada)">Eliminar nota</button>